<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 sign-up">
      <h2>Contact us</h2>
      <p>You may fill out the form below and a representative will be sure to get back to you</p>
      <%= simple_form_for(@message, url: contact_path) do |f| %>
        <%= f.input :name, placeholder: "Name" %>
        <%= f.input :email, placeholder: "Email" %>
        <%= f.input :subject, placeholder: "Subject" %>
        <%= f.input :content, label: "Message", as: :text, :input_html => { :cols => 50, :rows => 10 }, placeholder: "Message" %>
        <%= f.submit "Send", class: "btn btn-primary btn-exercise btn-exercise-important" %>
      <% end %>
    </div>
  </div>
</div>
