
<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner">
  <div class="banner-content text-center">
    <h1>Learn infrastructure as code</h1>
    <p>Practice and test your own infrastructure as code through challenges</p>
    <%= link_to "Become an OPServer", exercises_path, class: "btn btn-lig btn-primary" %>
  </div>
</div>

<div class="container popchallenges-container">
  <%= render 'challenges/index' %>
</div>

<div class="container aboutus-container">
  <div class="row">
      <h3>About us</h3>
      <div class="col-xs-12 col-sm-4 col-md-4 text-center">
        <%= image_tag "pencil.jpg", id: "logo" %>
        <h4>Practice</h4>
          <p>Improve your infrastructure skills through practical challenges</p>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 text-center">
        <%= image_tag "test.jpg", id: "logo" %>
        <h4>Test</h4>
          <p>Test your own code in our platform</p>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 text-center">
      <%= image_tag "amazon.jpg", id: "logo" %>
      <h4>Deploy</h4>
        <p>Deploy it directly on your AWS account</p>
      </div>
    </div>
  </div>
</div>

<div class="container team-container">
    <div class="row">
      <h3>Meet the team</h3>
      <div class="col-xs-12 col-sm-3 text-center">
        <%= image_tag "xavier.jpg", id: "logo" %>
        <h4>Xavier Arques</h4>
          <p>Lead Full Stack Dev</p>
      </div>
      <div class="col-xs-12 col-sm-3 text-center">
        <%= image_tag "yan.jpg", id: "logo" %>
        <h4>Yan De Catheu</h4>
          <p>Full Stack Dev</p>
      </div>
      <div class="col-xs-12 col-sm-3 text-center">
        <%= image_tag "roni.png", id: "logo" %>
        <h4>Roni Sharabi</h4>
          <p>Full Stack Dev</p>
      </div>
      <div class="col-xs-12 col-sm-2 text-center">
         <%= image_tag "tess.png", id: "logo" %>
        <h4>Tess Saffar</h4>
          <p>Full Stack Dev</p>
      </div>
    </div>
</div>
