<div class="container">
  <div class="row">
    <% @exercises.each do |exercise| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url( <%= image_path '' %>);">
          <div class="card-category"><%= exercise.status %></div>
          <div class="card-description">
            <h2> <%= exercise.challenge.name %></h2>
            <p> <%= exercise.challenge.description %></p>
          </div>
          <%= link_to '', exercise_path(exercise), class: 'card-link' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
