<div class="container">
  <div class="grid-dashboard">
    <div class="d-exercise">
        <h3 class="notcard">Your courses</h3>
      <ul class="list-inline list_ex">
        <% @exercises.each do |exercise| %>
              <li><p><strong><%= link_to exercise.challenge.name, exercise_path(exercise)%></strong><%= render 'exercise_status', exercise: exercise %></p></li>
        <% end %>
      </ul>
    </div>

    <div class="challenges_choices">
      <h3 class="notcard">More challenges</h3>
      <div class="more_challenges">
        <%= form_tag exercises_path, method: :get, remote: true, class: "search-form" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control search-bar",
            placeholder: "search a challenge"
          %>
          <%= button_tag "", {id: 'button_search'} do %>
            <i class='fa fa-search' ></i>
          <% end %>
        <% end %>
      </div>

      <div id="challenges_choices_cards" class="row">
          <%= render 'exercises/card_exercises' %>
      </div>
    </div>

    <div class="next_challenge">
      <h3 class="notcard">Next challenge</h3>
      <% if @next_exercise %>
        <div class="card next_exercise_card" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= cl_image_path @next_exercise.challenge.photo, height: 200, width: 300, crop: :pad %>')">
          <div class="card-category"></div>
          <div class="card-description">
            <h2> <%= @next_exercise.challenge.name %></h2>
            <p> <%= @next_exercise.challenge.description %></p>
          </div>
          <%= link_to '', exercise_path(@next_exercise), class: 'card-link' %>
        </div>
      <% elsif @next_challenge  %>
        <div class="card next_exercise_card" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= cl_image_path @next_challenge.photo, height: 200, width: 300, crop: :pad %>')">
                <div class="card-category"></div>
                <div class="card-description">
                  <h2> <%= @next_challenge.name %></h2>
                  <p> <%= @next_challenge.description %></p>
                </div>
                <%= link_to '', challenge_exercises_path(@next_challenge, Exercise.new), method: :post, class: 'card-link' %>
              </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  const searchChallenges = (event) => {
    var input = document.getElementById("button_search");
    input.click();
    console.log(event.currentTarget.value);
    // fetch(exercises_url, {credentials: "same-origin"})
  }
  const input = document.getElementById("query");
  input.addEventListener("keyup", searchChallenges);
</script>
