<div class="container">
  <div class="grid-dashboard">
    <div class="d-exercise">
        <h2>Your courses</h2>
      <ul class="list-inline list_ex">
        <% @exercises.each do |exercise| %>
              <li><p><strong><%= link_to exercise.challenge.name, exercise_path(exercise)%></strong></p></li>
              <li><% if exercise.status == 0 %>
                <i style="color: #e6b800" class="fa fa-clock-o" aria-hidden="true"></i>
                  <% elsif exercise.status == 1 %>
                <i style="color: green" class="fa fa-check-circle-o" aria-hidden="true"></i>
                  <% elsif exercise.status == 2 %>
                <i style="color: red" class="fa fa-times-circle-o" aria-hidden="true"></i>
                  <% elsif exercise.status == 3 %>
                <i style="color: gray" class="fa fa-cloud" aria-hidden="true"></i>
                <% end %>
              </li>
        <% end %>
      </ul>
    </div>

    <div class="challenges_choices">

      <%= form_tag exercises_path, method: :get, remote: true do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a challenge"
        %>
        <%= button_tag "hello", id:'button_search', class:'hidden' %>
      <% end %>

      <h2>More challenges</h2>
        <div id="challenges_choices_cards" class="row">
            <%= render 'exercises/card_exercises' %>
        </div>
    </div>

    <div class="next_challenge">
      <h2>Next challenge</h2>
      <% if @next_exercise %>
        <div class="card next_exercise_card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @next_exercise.challenge.photo, height: 300 %>')">
          <div class="card-category"></div>
          <div class="card-description">
            <h2> <%= @next_exercise.challenge.name %></h2>
            <p> <%= @next_exercise.challenge.description %></p>
          </div>
          <%= link_to '', exercise_path(@next_exercise), class: 'card-link' %>
        </div>
      <% elsif @next_challenge  %>
        <div class="card next_exercise_card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @next_challenge.photo, height: 300 %>')">
                <div class="card-category"></div>
                <div class="card-description">
                  <h2> <%= @next_challenge.name %></h2>
                  <p> <%= @next_challenge.description %></p>
                </div>
                <%= link_to '', challenge_exercises_path(@next_challenge, Exercise.new), method: :post, class: 'card-link' %>
              </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  const searchChallenges = (event) => {
    var input = document.getElementById("button_search");
    input.click();
    console.log(event.currentTarget.value);
    // fetch(exercises_url, {credentials: "same-origin"})
  }
  const input = document.getElementById("query");
  input.addEventListener("keyup", searchChallenges);
</script>
