<div class="container-fluid title-container">
  <div>
    <h4><%= @exercise.challenge.name.upcase %> <span id="clock-status"><%= render 'exercise_status', exercise: @exercise %></span></h4>
    </div>
  <div class="exercise">

      <div class="editor-buttons text-center">
        <div class="editor-buttons-flex">
          <button type="button" id="retry-button" class="btn btn-primary btn-exercise">
            Retry
          </button>
          <%= link_to "Retry", retry_exercise_path(@exercise), method: "patch", :class =>"btn btn-primary btn-exercise", :id =>"retry", :type =>"button", :class =>"hidden", remote: true %>
          <%= simple_form_for(@exercise, remote: true, :html => { :onsubmit => 'validate()' }, :method => 'patch' ) do |form| %>
            <%= form.hidden_field :code %>
            <%= form.hidden_field :status %>
            <%= form.button :submit, "Validate", class: "btn btn-primary btn-exercise btn-validate" %>
          <% end %>
          <% if @exercise.challenge.deployable %>
            <% if @exercise.status == 1 || @exercise.status == 3 %>
              <% disabled = "" %>
            <% else %>
              <% disabled = "disabled" %>
            <% end %>
            <button type="button" id="deploy" class="btn btn-primary btn-exercise" <%= disabled %> onclick="deploy()">
              Deploy
            </button>
          <% end %>
        <!--   <button type="button" id="skip" class="btn btn-primary btn-exercise">
            Back
          </button> -->
          <%= link_to 'Back', exercises_path, class: "btn btn-primary btn-exercise", id:"back" %>
        </div>
      </div>

    <div class="description">
      <% if @exercise.challenge.deployable %>
        <div id="exercise-app" class="exercise-app container"> </div>
      <% end %>
      <div class="">
        <h5>THE GOAL</h5>
        <p><%= @exercise.challenge.description %></p>
      </div>
      <div>
        <h5><strong>THE RULES</strong></h5>
        <p><%= @exercise.challenge.instructions.html_safe if @exercise.challenge.instructions %></p>
      </div>
    </div>

    <div class="hints">
      <% if @next_hint.count == 0 %>
        <% disabled_class_hint = "btn btn-primary btn-exercise disabled" %>
        <% disabled_class_solution = "btn btn-primary btn-exercise" %>
      <% else %>
        <% disabled_class_hint = "btn btn-primary btn-exercise" %>
        <% disabled_class_solution = "btn btn-primary btn-exercise disabled" %>
      <% end %>
      <%= link_to "Need a hint" , exercise_exercise_hints_path(@exercise.id), method: "post", :class => disabled_class_hint, :id => "button-hint", remote: true %>
      <%= link_to "Solution" , reveal_solution_exercise_path(@exercise.id), method: "patch", :class => disabled_class_solution, :id => "button-solution", remote: true %>
      <div class="hints-details" id="hints">
        <ul id="list_hints" class="list-unstyled">
        <% @given_hints.each do |hint|%>
          <% if hint.description %>
            <li><%= hint.description.html_safe %></li>
          <% end %>
        <% end %>
        </ul>
      </div>
    </div>

    <div class="editor text-center">
      <div id="javascript-editor"></div>
    </div>

    <div class="result" >
      <h5>YOUR RESULT</h5>
      <div class="result-details" id="result">

      </div>
    </div>
    <%# content_for :after_js do %>
      <!-- method aceEditor is defined in app/javascript/packs/editor.js -->
      <%= javascript_pack_tag 'editor' %>
    <%# end %>

    <script>
      const validate = (() => {
        validateExercise('<%=j raw(@exercise.challenge.schema) %>', javascriptEditor.getValue(), "result");
      });
      const deploy = (() => {
        deployExercise('<%=j raw(@exercise.challenge.schema) %>', javascriptEditor.getValue(), "result");
      });
      // methods aceEditor and validateExerciseCallback are defined in app/javascript/packs/editor.js
      const javascriptEditor = aceEditor("javascript-editor", "<%=j raw(@exercise.code) %>");
      // validateExerciseCallback('<%#=j raw(@exercise.challenge.schema) %>', javascriptEditor, "validate", "result");
      <% if @exercise.challenge.deployable && (@exercise.status == 3 || @exercise.status == 1 )%>
        setBucketName(getBucketName(javascriptEditor.getValue()));
      <% end %>
    </script>
  </div>
</div>
