<div class="container">
  <div class="exercise">
    <div class="description">
      <div class="text-center">
        <h2>Description</h2>
        <p><%= @exercise.challenge.description %></p>
      </div>
      <div>
        <h3>Instructions</h3>
        <%= @exercise.challenge.instructions.html_safe %>
      </div>
    </div>

    <div class="hints">
      <h5>Hints</h5>
      <div class="hints-details" id="hints">

      </div>
    </div>

    <div class="editor text-center">
      <h2><%= @exercise.challenge.name %></h2>
      <div id="javascript-editor"></div>
    </div>

    <div class="editor-buttons text-center">
      <button type="button" id="retry" class="btn btn-primary btn-exercise">
        Retry
      </button>
      <button type="button" id="validate" class="btn btn-primary btn-exercise">
        Validate
      </button>
      <button type="button" id="skip" class="btn btn-primary btn-exercise">
        Skip >>
      </button>
      <%#= link_to 'Back', exercises_path %>
    </div>

    <div class="result" >
      <h5>Results:</h5>
      <div class="result-details" id="result">

      </div>

    </div>
    <!-- method aceEditor is defined in app/javascript/packs/editor.js -->
    <%= javascript_pack_tag 'editor' %>

    <script>
      // methods aceEditor and validateExerciseCallback are defined in app/javascript/packs/editor.js
      const javascriptEditor = aceEditor("javascript-editor", "<%=j raw(@exercise.code) %>");
      validateExerciseCallback('<%=j raw(@exercise.challenge.schema) %>', javascriptEditor, "validate", "result");
    </script>
  </div>
</div>
