<div class="container">
  <div class="exercise">
    <div class="description">
      <div class="text-center">
        <h2>Description</h2>
        <p><%= @exercise.challenge.description %></p>
      </div>
      <div>
        <h3>Instructions</h3>
        <%= @exercise.challenge.instructions.html_safe %>
      </div>
    </div>

    <div class="hints">
      <% if @next_hint.count >= 1 %>
        <%= link_to "Need a hint" , exercise_exercise_hints_path(@exercise.id), method: "post", :class =>'btn btn-primary btn-exercise', :id => "button-hint", remote: true %>
      <% end %>
      <div class="hints-details" id="hints">
        <ul id="list_hints" class="list-unstyled">
         <% @given_hints.each do |hint|%>
         <li><%= hint.description %></li>
         <% end %>
        </ul>
      </div>
    </div>

    <div class="editor text-center">
      <h2><%= @exercise.challenge.name %></h2>
      <div id="javascript-editor"></div>
    </div>

    <div class="editor-buttons text-center">
      <div class="editor-buttons-flex">
        <button type="button" id="retry" class="btn btn-primary btn-exercise">
          Retry
        </button>
        <%= simple_form_for(@exercise, remote: true, :html => { :onsubmit => 'validate()' }, :method => 'patch' ) do |form| %>
          <%= form.hidden_field :code %>
          <%= form.hidden_field :status %>
          <%= form.button :submit, "Validate", class: "btn btn-primary btn-exercise" %>
        <% end %>
        <button type="button" id="skip" class="btn btn-primary btn-exercise">
          Skip >>
        </button>
      </div>
      <%#= link_to 'Back', exercises_path %>
    </div>

    <div class="result" >
      <h5>Results:</h5>
      <div class="result-details" id="result">

      </div>

    </div>
    <%# content_for :after_js do %>
      <!-- method aceEditor is defined in app/javascript/packs/editor.js -->
      <%= javascript_pack_tag 'editor' %>
    <%# end %>

    <script>
      const validate = (() => {
        validateExercise('<%=j raw(@exercise.challenge.schema) %>', javascriptEditor.getValue(), "result");
      });
      // methods aceEditor and validateExerciseCallback are defined in app/javascript/packs/editor.js
      const javascriptEditor = aceEditor("javascript-editor", "<%=j raw(@exercise.code) %>");
      // validateExerciseCallback('<%#=j raw(@exercise.challenge.schema) %>', javascriptEditor, "validate", "result");
    </script>
  </div>
</div>
